@model DrinkEditModel

<form asp-action="AddDrink" asp-controller="Admin" asp-antiforgery="true" class="card p-3 bg-light" enctype="multipart/form-data">
    <div class="validation" asp-validation-summary="ModelOnly"></div>

    <div class="mb-3">
        <label class="form-label" for="name">Name</label>
        <input asp-for="Name" type="text" class="form-control" id="name" placeholder="Name">
        <span asp-validation-for="Name"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" for="price">Price</label>
        <input asp-for="Price" type="number" class="form-control" id="price">
        <span asp-validation-for="Price"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" for="amount">Amount</label>
        <input asp-for="Amount" type="number" class="form-control" id="amount">
        <span asp-validation-for="Amount"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" for="photo">Photo</label>
        <input asp-for="PhotoFile" type="file" class="form-control" id="photo">
    </div>

    <div class="mb-3">
        <input asp-for="Id" type="text" value="@Model.Id" class="form-control" id="id" hidden />
        <span asp-validation-for="Id"></span>
    </div>

    <button type="submit" class="btn btn-outline-primary">Add</button>
</form>

@await Html.PartialAsync("ButtonMainPartial")