@model IEnumerable<CoinViewModel>

<div class="text-center">
    <h2 class="display-5">Select coin which you want to edit</h2>
</div>

<hr />

<div class="d-flex justify-content-center list-group">
    @foreach (var coin in Model)
    {
        <div class="list-group-item">
            <div class="d-flex justify-content-end">
                <span>
                    @coin.Value rub
                </span>
                <div class="container">
                    <a class="btn btn-outline-primary" href="/Admin/Coin/@coin.Value">Edit</a>
                </div>
            </div>
        </div>
    }
</div>

<div class="container d-flex justify-content-center m-4">
    <a class="btn btn-outline-primary" href="/Admin/Main/">
        To main
    </a>
</div>
