@model IEnumerable<CoinViewModel>

<div class="text-center">
    <h2 class="display-5">Coins administrative page</h2>
</div>

<hr />

<div class="d-flex justify-content-center list-group">
    @foreach (var coin in Model)
    {
        <div class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
                <div class="container">
                    <span>
                        @coin.Value rub
                    </span>
                </div>
                <div class="container d-flex justify-content-end">
                    @{
                        var coinValue = (int)coin.Value;
                    }
                    <a class="btn btn-outline-primary" href="/Admin/EditCoin/?coinValue=@coinValue">Edit</a>
                </div>
            </div>
        </div>
    }
</div>

@await Html.PartialAsync("ButtonMainPartial")
