<div class="text-center">
    <h2 class="display-5">Drinks administrative page</h2>
</div>

<hr />

<div id="divPartial">
    @await Html.PartialAsync("DrinksPartial")
</div>

<div class="container d-flex justify-content-center mt-2">
    <a class="btn btn-outline-success" href="/Admin/Drink/?drinkId=0">
        Add new
    </a>
</div>

@await Html.PartialAsync("ButtonMainPartial")