<div class="text-center">
    <h2 class="display-5">Welcome to the vending machine administrative page!</h2>

    <hr />
    
    <h2 style="font-weight:300">What are we going to work with?</h2>
</div>

<div class="d-flex justify-content-center">
    <div>
 <a class="btn btn-lg btn-outline-primary mx-3" href="/Admin/Drinks/">
            Drinks
        </a>
    </div>
    <div>
        <a class="btn btn-lg btn-outline-primary" href="/Admin/Coins/">
            Coins
        </a>
    </div>
</div>