<div class="text-center">
    <h2 class="display-4">Welcome to the vending machine administrative page!</h2>
    <h2 style="font-weight:400">What are we going to work with?</h2>
</div>

<hr />

<div class="text-center">
    <h2 class="display-4">
        <a src="/Admin/Drinks/">
            Drinks
        </a>
    </h2>
    <h2 style="font-weight:400">
        <a src="/Admin/Coins/">
            Coins
        </a>
    </h2>
</div>