@using BLL.Dtos;
@model IEnumerable<DrinkViewModel>

@{
    ViewData["Title"] = "Vending machine";
}

<div class="text-center">
    <h2 class="display-4">Welcome to our vending machine!</h2>
    <h2 style="font-weight:400">Choose a drink from the section below, insert coins and enjoy your drink!</h2>
</div>

<hr />

@await Html.PartialAsync("DrinksPartial", Model)

<hr />

<div class="d-block text-center">
    <h2 >
        Current balance: 
        <span id="balance">0</span>
    </h2>
</div>

<div class="d-flex justify-content-center">
    <div class="card" style="width: 8rem;">
        <div class="card-body d-flex flex-column" style="align-items: flex-start">
            <h4 class="card-title">
                1 ruble
            </h4>
            <a class="btn btn-outline-primary" style="margin-top: auto" onclick="addNRuble(1)">
                Insert
            </a>
        </div>
    </div>
    <div class="card" style="width: 8rem;">
        <div class="card-body d-flex flex-column" style="align-items: flex-start">
            <h4 class="card-title">
                2 rubles
            </h4>
            <a class="btn btn-outline-primary" style="margin-top: auto" onclick="addNRuble(2)">
                Insert
            </a>
        </div>
    </div>
    <div class="card" style="width: 8rem;">
        <div class="card-body d-flex flex-column" style="align-items: flex-start">
            <h4 class="card-title">
                5 rubles
            </h4>
            <a class="btn btn-outline-primary" style="margin-top: auto" onclick="addNRuble(5)">
                Insert
            </a>
        </div>
    </div>
    <div class="card" style="width: 8rem;">
        <div class="card-body d-flex flex-column" style="align-items: flex-start">
            <h4 class="card-title">
                10 rubles
            </h4>
            <a class="btn btn-outline-primary" style="margin-top: auto" onclick="addNRuble(10)">
                Insert
            </a>
        </div>
    </div>
</div>

<div class="d-flex flex-column justify-content-center align-items-center m-3">
    <a class="btn btn-outline-primary btn-lg" onclick="getChange()">
        Get change
    </a>
</div>